@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');



/* @font-face {
    font-family: FontName;
    src: url("{{ url_for('static', filename='fonts/Comic Sans MS 400.ttf') }}");
  } */

@font-face {
    font-family: FredokaOne;
    src: url("../fonts/FredokaOne-Regular.ttf");
}
:root { 
    --font-family: "Tahoma";
    --primary: #3FBBD7;
    --dark-primary: #236776;
    --secondary: #7cd0bb;
    --tertiary: #c0d17c;
    --light-primary: #d19f7c;
    --error-color: #b151a4;
    --off-white: #fffdf7;
    --not-exactly-black: rgb(75, 75, 75);
}
body {
    background-color: var(--off-white);
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: FredokaOne;
}
.body{
    margin-top:0px;
    
    font-family: FredokaOne;
}
nav{
    
    font-family: FredokaOne;
    position:fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    left: 0;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    transition: top 0.3s;

}
#Reg-Nav-In > div:first-child {
    
    font-family: FredokaOne;
    margin-bottom: 15px;
    margin-top: 15px;
}

#Reg-Nav-Out {
    
    font-family: FredokaOne;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    height: 100%;
}

#Reg-Nav-In {
    
    font-family: FredokaOne;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Nav-Logo-A {
    
    font-family: FredokaOne;
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 1.5em;
}


#Nav-Link-Cont {
    
    font-family: FredokaOne;
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.link-container {
    
    font-family: FredokaOne;
    height: 100%;
    display: flex;
    align-items: center;
}
footer{
    
    font-family: FredokaOne;
    align-items: center;
    margin: auto;
}
[data-inviewport="appear-fast"].first-time {

    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}
[data-inviewport="appear-really-fast"].first-time {
    opacity: 1;
    transition: 0.3s;
}
.nav-links {
    font-size: .8em;
    text-decoration: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: var(--primary);
    transition: 0.2s ease-out;
    padding: 6px;
    font-weight: bold;
    border-radius: 30px;
}
.nav-links:hover {
    color: var(--off-white);
    transition: 0.2s ease-in;
    transform: scale(1.5);
    transform: skew(3deg, 5deg)

}
body{
    background-color: #ffffff;
}
.for-color {
    background-color: var(--not-exactly-black);
    position: absolute;
    width: 100%;
    z-index: 0;
}
h2,h3{
    
    font-family: FredokaOne;
    text-align:center;
}