@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: 'Maven Pro';
    src: url('../fonts/MavenPro-Regular.ttf');
}
:root {
    --font-family: 'Maven Pro', serif;
    --primary: #00ccff;
    --secondary: #006cc4;
    --tertiary: #8658dd;
    --light-primary: #b2ecf0;
    --error-color: #b151a4;
    --off-white: #fffdf7;
    --not-exactly-black: rgb(49, 49, 49);
}
body {
    background-color: var(--primary);
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#Reg-Nav-In > div:first-child {
    margin-bottom: 15px;
    margin-top: 15px;
}

#Reg-Nav-Out {
    max-width: 1200px;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    height: 100%;
}

#Reg-Nav-In {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Nav-Logo-A {
    display: flex;
    text-decoration: none;
    align-items: center;
    font-size: 1.5em;
}


#Nav-Link-Cont {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.link-container {
    height: 100%;
    display: flex;
    align-items: center;
}
footer{
    align-items: center;
    margin: auto;
}
.nav-links {
    font-size: 0.83em;
    text-decoration: none;
    margin-left: 0.75rem;
    margin-right: 0.75rem;
    color: var(--not-exactly-black);
    transition: 0.2s ease-out;
    padding: 6px;
    font-weight: bold;
    border-radius: 30px;
}
.nav-links:hover {
    background-color: var(--light-primary);
    transition: 0.2s ease-in;

}
body{
    background-color: var(--primary);
}
.for-color {
    background-color: var(--tertiary);
    position: absolute;
    width: 100%;
    z-index: 0;
}
h2,h3{
    text-align:center;
}