@font-face {
    font-family: FredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf);
}


#ContactUs {
    margin: 20px auto;
}

#ContactUs>div:first-child {
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
}

.ContactUsFlexbox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: fit-content;
    margin-top: 40px;
}
#Landing{

    width: 1200px;
    margin:auto;

}
.center{
    margin:auto;
    justify-content: center;
}
.map {
    width: 600px;
    height: 450px;
    border-radius: 20px;
}

[data-inviewport="scale-in"] { 
    transition: .5s;
  }
[data-inviewport="appear"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}
[data-inviewport="appear-after"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}

[data-inviewport="appear-afterMain"].is-inViewport {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}
[data-inviewport="scale-in"].is-inViewport { 
    width: 90vw;
  }

[data-inviewport="scale-inImages"].is-inViewport { 
    width: 90vw;
  }
.ContactUsFlexbox>div {
    flex-basis: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ContactUsFlexbox>div:nth-child(2)>h3 {
    height: fit-content;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.ContactUsFlexbox>div:nth-child(2) {
    display: flex;
    flex-direction: column;
}