
/** ADD YOUR AWESOME CODES HERE **/
.fa-tiktok {
    background: url(../webfonts/tiktok.svg) no-repeat;
    color: white;
    width: 100%;
    height: 100%;
    transform: translate(30%, 25%) !important;
    position: relative;
}
.people{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.white{
    color: white !important
}
.middle{
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh;
    margin-bottom: 25vh;
    width: 50%;
}
hr.white{
    background-color: white !important;
    margin: auto;
    width: 80%
}
.parallax {
    padding: 100px 0px;
    /* The image used */
    background-image: url("../images/img_parallax.jpg");
  
    /* Set a specific height */
    min-height: 500px; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.white-bar{
    height: 2px;
    width:100%;
    background-color:white;
}
.center{
    margin:auto;
    width: fit-content;
    padding: 10px
}
.social-title{
    font-weight: 700;
    padding: 10px;
    font-size: 2.2em;
}
.instagram-title{
    translate: 0px 4px;
}
.img-insta{
    height: 100%;
    width: 100%;
}
.department-space{
    height: 2px;
    width:100%;
    background-color:black;
    margin: 50px 0px;
}
 video {
    width: 100%;

}
.video{

    top: 8vh;
    position: relative;
}
.banner-video{
    position: absolute;
    z-index: -1;
    width: 100%;
}
.banner-button{
    
    margin: auto;
    position: relative;
    z-index: 2;
    transition-delay: 6s;
    animation: fadeInAnimation ease 3.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    92% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.banner-font{
    font-size: 2em !important;
}
.banner-container{
    position:relative;
    display:inline-block !important;
    width: 100%
}

.wallpaper {
    background-image: url("../images/banner-01.jpg");
    /* width: 100% */

}
.wallpaper-img{
    width: 100%;
    position: relative;

    z-index: 1;
    padding: 0

}
strong{
    font-size: 2.8em !important;
    /* font-style: bold; */
    font-weight: 1200;
  }

.height-cap{
    object-fit: cover;
    object-position: 0 0%;
}
.upper{
    position: absolute;

    z-index: 2;
}
.vaguely_larger{
    font-size: 3.2em;
}
.barely_larger{
    font-size: 1.8em;
}
.slide{
    position: relative;

}
/* .like{
    border: none;
    color: black;
    transition: 0.3s;

}
.like:hover{
    color: red;
} */
.disclaimer{
    fill: aqua;
    color: white;
}
.shop-disclaimer{
    color: #3ebbd7;
}
a.about-link{
    color: white;
    text-decoration: underline !important;
    text-decoration-thickness: 10px;
    text-decoration-color: white;
    transition: .3s;


}
a.about-link:hover{
    color: #3ebbd7;
}
.full{
    margin:auto;
}
.max-height{
    height: 100% !important;
}