
   

    h1{
        text-align:center;
        font: 10em 'Caveat';
        font-weight: bolder;
    }
    .product-holder{
        max-width: 99vw;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: fit-content;
        margin: auto;
        justify-content: center;
    }
    .overlay{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;

    }
    .opacity0{
        opacity: 0;
    }
    [data-inviewport="appear"].first-time {
        opacity: 1;
        transition: 0.8s;
        transition-delay: 0.4s;
    }
    .bluetitle{
        color: #7cd0bb;
    }
    .browntitle{
        color: #d19f7c;
    }
    h2{
        text-align:center;
        font-weight: bold;
        font: 3.5em var(--font-family);
    }
    .gray{
        background-color: #fafafa;
        border-radius: 20px;
        
    }
    .shadow{
        /* box-shadow: 10px 10px rgba(0,0,0,.1);  */

        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);

    }
    .description{
        width: 60%;
    }
    .product{
        opacity: 0;
        background-color: #ffffff;
        height: fit-content;
        width: 100vw;
        min-width: var(--picture-width);
        margin-left: .8vw;
        margin-top: 1.6vw;
        margin-right: .8vw;
        display: flex;
        padding: 5px;
        flex-direction: column;
    }
    .products-flex{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        padding-bottom:50px;

    }
    .page-title{
        margin: auto;
        height: fit-content;
        width: fit-content;
        padding: 20px;
        border-radius: 2px;

    }
    .product-url{
        background-color: #fafafa;
        font: .75em var(--font-family);
        text-decoration: none;
        color: var(--not-exactly-black);
        transition: 0.2s ease-out;
        padding:8px;
        font-weight: normal;
        margin: auto;
        color: var(--primary);
      
    }
    .product-url-div{
        margin: auto;
        text-align:center;
    }
    .product-descriptions-left{
        position: relative;

        font-size: 2.5em;

        margin-top: auto;
        margin-bottom: auto;
   
        padding: 5px;
        max-width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    
    .equal-width{
        flex-basis: 1;
    }

    .product-descriptions-right{
        position: relative;

        font-size: 2.5em;
        margin-top: auto;
        margin-bottom: auto;
    
        padding: 5px;
        max-width:60%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .desc{
        margin: auto;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 20px;
    }
    hr{
        margin: auto;
    }
    .image{
        max-height:  400px;
        max-width:  400px;
        border-radius: 15px;
    }
    .product-url:hover {
        text-decoration: underline;
        background-color: #fafafa;
        transition: 0.2s ease-in;

    }
    .product-url-flex{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        z-index: 2;
    }
    #product-descriptions{
        color: var(--secondary);
        font: 1.4em var(--font-family);

    }
    .arrow{
        color: var(--primary);
    }
    .product-title{
        color: var(--light-primary);
        font-style: var(--font-family);
        margin: auto;
        margin-top: 10px;
    }