@font-face {
    font-family: FredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf);
}

h1 { 
    font-family: FredokaOne;
    
}

body { 
    font-family: FredokaOne;
}

.opacity0{
    opacity: 0;
    font-family: FredokaOne;
}

.bluetitle{
    color: #7cd0bb;
}
.browntitle{
    color: #d19f7c;
}
.products{
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align:center;
    position:relative;

}
.product{
    padding: 30px;
    width: 300px;
    align-items: center;
    justify-content: center;
    margin:10px auto;
    display:inline-block;
}
.render{
    margin: auto;
    
    border-style: solid;
    align-items: center;
    border-color: var(--not-exactly-black);
    width: max-content;
    padding: 30px;
    margin-top: 30px;
}
.description{
    width: 300px;
    text-align: center;
}
[data-inviewport="scale-in"] { 
    transition: .5s;
  }
[data-inviewport="appear"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}
[data-inviewport="appear-after"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}
[data-inviewport="scale-in"].is-inViewport { 
    width: 90vw;
  }

[data-inviewport="scale-inImages"].is-inViewport { 
    width: 90vw;
  }
.landing{
    padding: 30px;
    background-color:  var(--not-exactly-black);
    align-content: center;
}
.page-title{
    /* TODO: WHAT THE HELL WHY IS THIS NOT WORKING FOR FIT-CONTENT */
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    /* box-shadow: 5px 5px rgba(0,0,0,.3);  */
    border-radius: 2px;

}
h1{
    text-align:center;
    font: 10em 'Caveat';
    font-weight: bolder;
}
.image{
    padding: 17.5px;
    text-align: center;
}
.product-lineup-h2{
    display: inline-block;
    text-align:left;
    font-style: var(--font-family);
    font-size: 3.2em;
    padding-left: 10px;
    font-weight: bolder;
    margin-top: 5%;


}
.product-h3{
    font-style: var(--font-family);
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
}

.zoom {


    transition: transform .2s;
    /* Animation */
    margin-left: 10%; 
    margin-right: 10%; 
    
    

}

.zoomImages { 
    transition: transform .2s;

}
.zoomImages:hover { 
    transform: scale(1.1);
}

.zoom:hover {
    color: rgb(54, 54, 54);
    transition: 0.2s ease-in;
    transform: scale(1.5);
    transform: skew(-4deg, -2deg);
    box-shadow: 0 0 11px rgba(138, 127, 127, 0.727).2); 


    
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomWords { 
    transition: transform .2s;
}
.zoomWords:hover {
    color: rgb(54, 54, 54);
    transition: 0.2s ease-in; 
    transform: scale(1.2); 
    transform: skew(-2deg, -2deg, -2deg);
    
}