@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.opacity0{
    opacity: 0;
}

.bluetitle{
    color: #7cd0bb;
}
.browntitle{
    color: #d19f7c;
}
.products{
    max-width: 100vw;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;

}
.product{
    padding: 30px;
    width: 300px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
.render{
    margin: auto;
    border-style: solid;
    align-items: center;
    border-color: var(--not-exactly-black);
    width: 50vw;
    padding: 30px;
    margin-top: 30px;
}
.description{
    width: 300px;
    text-align: center;
    font-family: "Tahoma";
    font-size: .9em;
    color: var(--secondary);
}
.image{
    max-height: 300px;
    max-width: 300px;
    border-radius: 15px;
}
[data-inviewport="scale-in"] { 
    transition: .5s;
  }
[data-inviewport="appear"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}
[data-inviewport="appear-after"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}
[data-inviewport="scale-in"].is-inViewport { 
    width: 90vw;
  }

.page-title{
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    /* box-shadow: 5px 5px rgba(0,0,0,.3);  */
    border-radius: 2px;

}
h1{
    text-align:center;
    font: 10em 'Caveat';
    font-weight: bolder;
}
.image{
    padding: 17.5px;
}
.product-lineup-h2{
    text-align:center;
    font:  3.2em "Tahoma";
    font-weight: bolder;

}
.product-lineup{
    justify-content: center;
}
.product-h3{
    font-style: var(--font-family);
    color: var(--light-primary);
    font: 1.5em  "Tahoma";
    font-weight: bolder;
}