@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@font-face {
    font-family: FredokaOne;
    src: url(../fonts/FredokaOne-Regular.ttf);
}



.opacity0{
    opacity: 0;
}

.bluetitle{
    color: #7cd0bb;
}
.browntitle{
    color: #d19f7c;
}
.products{
    max-width: 95vw;
    overflow-y: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    
    text-align:center;
    position:relative;
}
.product{
    padding: 30px;
    width: 300px;
    margin: 10px auto;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2);
    display: inline-block;
}
.render{
    margin: auto;
    border-style: solid;
    align-items: center;
    border-color: var(--not-exactly-black);
    width: 50vw;
    padding: 30px;
    margin-top: 30px;
}
.description{
    width: 300px;
    text-align: center;
    font-family: "FredokaOne";
    font-size: .9em;
    color: var(--secondary);
}
.image{
    max-height: 300px;
    max-width: 300px;
    border-radius: 15px;
}
[data-inviewport="scale-in"] { 
    transition: .5s;
  }
[data-inviewport="appear"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}
[data-inviewport="appear-after"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}
[data-inviewport="scale-in"].is-inViewport { 
    width: 90vw;
  }
.landing{
    padding: 30px;
    background-color:  var(--not-exactly-black);
    align-content: center;
}
.page-title{
    margin: auto;
    height: fit-content;
    width: fit-content;
    padding: 20px;
    /* box-shadow: 5px 5px rgba(0,0,0,.3);  */
    border-radius: 2px;

}
h1{
    text-align:center;
    font: 10em 'FredokaOne';
    font-weight: bolder;
}
.image{
    padding: 17.5px;
}
.product-lineup-h2{
    text-align:left;
    font:  3.2em "FredokaOne";
    padding-left: 10px;
    font-weight: bolder;

}
.product-lineup-h4{
    text-align:left;
    font:  1.2em "FredokaOne";
    padding-left: 10px;
    font-weight: bolder;
}

.product-h3{
    font-style: var(--font-family);
    color: var(--light-primary);
    font: 1.5em  "FredokaOne";
    font-weight: bolder;
}



.zoom {


    transition: transform .2s;
    /* Animation */
    margin-left: 10%; 
    margin-right: 10%; 
    border-radius: 5%;
    text-align: center;
    

}

.zoomImages { 
    transition: transform .2s;

}
.zoomImages:hover { 
    transform: scale(1.1);
}

.zoom:hover {
    transition: 0.2s ease-in;
    transform: scale(1.5);
    transform: skew(-4deg, -2deg);


    
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoomWords { 
    transition: transform .2s;
    margin-left: 10%; 
    margin-right: 10%; 
}
.zoomWords:hover {
    
    transition: 0.2s ease-in; 
    transform: scale(1.1); 
    transform: skew(-4deg, -2deg);
    color: rgb(54, 54, 54);
    box-shadow: 5px 5px 2px rgba(138, 127, 127, 0.727); 
}
[data-inviewport="scale-in"] { 
    transition: .5s;
  }
[data-inviewport="appear"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.2s;
}
[data-inviewport="appear-after"].first-time {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}

[data-inviewport="appear-afterMain"].is-inViewport {
    opacity: 1;
    transition: 0.4s;
    transition-delay: 0.4s;
}
[data-inviewport="scale-in"].is-inViewport { 
    width: 90vw;
  }

[data-inviewport="scale-inImages"].is-inViewport { 
    width: 90vw;
  }

  .product-url:hover {
    text-decoration: underline;
    background-color: #fafafa;
    transition: 0.2s ease-in;

}
.product-url{
    font: .75em var(--font-family);
    text-decoration: none;
    color: var(--not-exactly-black);
    transition: 0.2s ease-out;
    padding:8px;
    font-weight: normal;
    margin: auto;
    color: var(--primary);
  
}
.product-url-div{
    margin: auto;
    text-align:center;
}
.product-url-flex{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    z-index: 2;
}
