{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block headerinfo %}
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}
        <div class="d-flex align-items-center justify-content-center vh-100">
            <div class="text-center">
                <h1 class="display-1 fw-bold">404</h1>
                <p class="fs-3"> <span class="text-danger">Opps!</span> {{ text }}</p>
                <p class="lead">
                    The page you’re looking for doesn’t exist.
                  </p>
                  <br>
                <a href="{{ link }}" class="btn btn-primary">{{ back }}</a>
            </div>
        </div>
        <br>
        <br>
{% endblock %}
