{% extends 'base.html' %}
{% block title %}About Us{% endblock %}
{% block headerinfo %}
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}
    <!-- Start Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>ABOUT US</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">ABOUT US</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src="../static/images/about-img.jpg" alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top">We are <span>PetConnect</span></h2>
                    <p>Pet Connect aspires to enrich the lives of pets and their owners by harnessing cutting-edge technology. Recognizing the pivotal
                        role pets play as integral family members, our overarching goal is to seamlessly integrate innovative solutions that elevate
                        communication, promote overall well-being, and ensure the global safety of pets. Through unwavering dedication to leveraging
                        the latest advancements, we strive to achieve a meaningful and enriching bond between pets and their human companions,
                        working towards the realization of a harmonious and secure environment for all.</p>
                    <p>"At Pet Connect, our mission is to enrich the lives of both pets and their owners
                        through cutting-edge technology. We believe that pets are not just animals;
                        they are cherished members of our families. Our purpose is to create seamless
                        and intuitive solutions that enhance communication, improve well-being, and ensure the safety of pets worldwide."<br>- CEO Akshay Dhawan</p>
                        
					<!-- <a class="btn hvr-hover" href="/">Read More</a> -->
                </div>
            </div>
            <!-- <div class="row my-5">
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Trusted</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Professional</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="service-block-inner">
                        <h3>We are Expert</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    </div>
                </div>
            </div> -->


            
            <div class="xrow my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Meet Our Team</h2>
                </div>
            </div>
            <div class = "people">
                {% for person in people %}
                    {% if person[0] == "break"%}
                         
                    </div><div class="department-space"></div><div class = "row">
                    {% else %}
                    <div class="col-sm-6 col-lg-3">
                        <div class="hover-team">
                            <div class="our-team"> <img src="../static/images/people/{{person[1]}}" alt="" />
                                <div class="team-content">
                                    <h3 class="title">{{person[0]}}</h3> <span class="post">{{person[2]}}</span> </div>
                                <!-- <ul class="social">
                                    <li>
                                        <a href="/" class="fab fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="/" class="fab fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="/" class="fab fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="/" class="fab fa-youtube"></a>
                                    </li>
                                </ul>
                                <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div> -->
                            </div>
                            <!-- <div class="team-description">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent urna diam, maximus ut ullamcorper quis, placerat id eros. Duis semper justo sed condimentum rutrum. Nunc tristique purus turpis. Maecenas vulputate. </p>
                            </div> -->
                            <hr class="my-0"> </div>
                    </div>
                    {% endif %}
                {% endfor %}

            </div>
               
                
                


        </div>
    </div>
    <!-- End About Page -->


  

{% endblock %}