<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Metas -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/favicon.png" type="image/x-icon">
    <!-- <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png"> -->
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css')}}">


    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">
    <script src="../static/js/jquery-3.2.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    {% block headerinfo %}{% endblock %}


    <!-- Start Main Top -->
    <header class="main-header">
        <!-- Start Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-default bootsnav">
            <div class="container">
                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-menu"
                        aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/"><img src="../static/images/logo.png" class="logo" alt=""></a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="nav navbar-nav ml-auto" data-in="fadeInDown" data-out="fadeOutUp">
                        {% if not session['content'] %}
                        <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                        {% endif %}
                        {% if session['logged_in'] %}

                        <li class="nav-item"><a class="nav-link" href="/post">Create a Post</a></li>
                        <li class="nav-item"><a class="nav-link" href="/past">Past Posts</a></li>
                        <li class="nav-item"><a class="nav-link" href="/signout">Log Out</a></li>
                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="/signin">Log In</a></li>
                        {% endif %}


                        <!-- <li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li> -->
                        <li class="nav-item dropdown">
                        
                        
                

                    </ul>
                </div>

            </div>
            <!-- Start Side Menu -->
            <!-- <div class="side">
                <a href="/" class="close-side"><i class="fa fa-times"></i></a>
                <li class="cart-box">
                    <ul class="cart-list">
                        <li>
                            <a href="/" class="photo"><img src="../images/img-pro-01.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="/">Delica omtantur </a></h6>
                            <p>1x - <span class="price">$80.00</span></p>
                        </li>
                        <li>
                            <a href="/" class="photo"><img src="../images/img-pro-02.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="/">Omnes ocurreret</a></h6>
                            <p>1x - <span class="price">$60.00</span></p>
                        </li>
                        <li>
                            <a href="/" class="photo"><img src="../images/img-pro-03.jpg" class="cart-thumb" alt="" /></a>
                            <h6><a href="/">Agam facilisis</a></h6>
                            <p>1x - <span class="price">$40.00</span></p>
                        </li>
                        <li class="total">
                            <a href="/" class="btn btn-default hvr-hover btn-cart">VIEW CART</a>
                            <span class="float-right"><strong>Total</strong>: $180.00</span>
                        </li>
                    </ul>
                </li>
            </div> -->
            <!-- End Side Menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <div>
        {% block BodyContent %}
        {% endblock %}
    </div>
    <!-- Start Instagram Feed  -->
    <!-- Start Footer  -->

    <!-- End Footer  -->

    <!-- Start copyright  -->
    <div class="footer-copyright">
        <p class="footer-company">All Rights Reserved. &copy; 2024 <a href="/">ParsippanyPointers</a>
    </div>
    <!-- End copyright  -->
    <!-- ALL JS FILES -->
    
    <!-- ALL PLUGINS -->
    <script src="../static/js/jquery.superslides.min.js"></script>
    <script src="../static/js/bootstrap-select.js"></script>
    <script src="../static/js/inewsticker.js"></script>
    <script src="../static/js/bootsnav.js."></script>
    <script src="../static/js/images-loded.min.js"></script>
    <script src="../static/js/isotope.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/baguetteBox.min.js"></script>
    <script src="../static/js/form-validator.min.js"></script>
    <script src="../static/js/contact-form-script.js"></script>
    <script src="../static/js/custom.js"></script>

</head>