<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/petconnect.ico') }}">
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/screen-size-media-queries.css') }}" rel="stylesheet">
    {% block headerinfo %}{% endblock %}
</head>
<nav>
    <div class="for-color"></div>
    <!-- Regular navbar -->
    <div id="Reg-Nav-Out">
        <div id="Reg-Nav-In">
            <!-- PetConnect Logo -->
            <div style="display: flex">
                <a href="/" id="Nav-Logo-A">
                    <img src="../static/images/petconnect_logo.png" height="100px" alt = "If you see this, we know who you are.">
                </a>
            </div>

            <!-- Navbar Links -->
            <div id="Nav-Link-Cont">
                <div class="link-container"><a class="nav-links" href="/">STORE</a></div>
            </div>
            {% for number in range(session['products']|length)%}
            <div id="Nav-Link-Cont">
                <div class="link-container"><a class="nav-links" href="{{ session['urls'][number] }}">{{
                        session['products'][number].upper()}}</a></div>
            </div>
            {% endfor %}
                <div id="Nav-Link-Cont">
                    <div class="link-container"><a class="nav-links" href="/people">Meet us!</a></div>
                </div>
            {% if session['debug'] is true %}
            <div id="Nav-Link-Cont">
                <div class="link-container"><a class="nav-links" href="/gatherdata">REFRESH DATA</a></div>
            </div>
            {% endif %}
            <div class="hamburger">
                <div></div>
            </div>
        </div>
    </div>
</nav>

<body>
    <div class="loading-container" id="LoadingContainer">
        <div class="loading-spinner"></div>
    </div>
    <div>
        <div id="body">
            {% block BodyContent %}
            {% endblock %}
        </div>
        <footer style = "background-color: #4db8ce;">
            <br> 
            <div>
                <h2>PetConnect</h2>
            </div>
            <div>
                <h3>Copyright © 2023 PetConnect</h3>
            </div>

            

            <div style = "text-align: center;">
                <a href="https://github.com/Datlightning/PetConnectWebsite" style = "text-align: center;"  target="_blank" rel = "noopener">A website made by Ruthvik Venkatesan and Vihas Veggalam.</a>
            </div>

            <br>

            <div>
                <!-- <a href="https://www.instagram.com/nanogurus4347/">
                <object class="footer-links" data="../static/images/instagram.svg" type="image/svg+xml"></object>
            </a>
            <a href="mailto: nanogurusftcrobotics@gmail.com">
                <object class="footer-links" data="../static/images/email.svg" type="image/svg+xml"></object>
            </a> -->
            </div>
        </footer>
</body>

<script>
    function UpdateDataSpreadsheet() {
        $('#LoadingContainer').css('display', 'flex');
        $.ajax({
            url: '/update-data-spreadsheet',
            type: 'GET',
            success: function (response) {
                $('#LoadingContainer').css('display', 'none');
            },
            error: function (error) {
                $('#LoadingContainer').css('display', 'none');
            }
        });
    }

    const inViewport = (entries, observer) => {
        entries.forEach(entry => {
            entry.target.classList.toggle("is-inViewport", entry.isIntersecting);
            if (entry.isIntersecting) {
                entry.target.classList.add("first-time");
            }
        });
    };
    const Obs = new IntersectionObserver(inViewport);
    const obsOptions = {}; //See: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Intersection_observer_options

    // Attach observer to every [data-inviewport] element:

    const ELs_inViewport = document.querySelectorAll('[data-inviewport]');
    ELs_inViewport.forEach(EL => {
        Obs.observe(EL, obsOptions);
    });
    $(document).ready(function () {
        let vh = $(window).height()
        let navH = $('nav').height()
        $('#body').css('margin-top', navH + 'px')
        function placeFooter() {
            var footer = $('footer');
            footer.css('position', 'relative');
            var html = $('html');
            if (html.outerHeight() < window.outerHeight) {
                footer.css('position', 'absolute');
                footer.css('bottom', (0).toString());
            }
        }
        //placeFooter()
        var height = $('nav').height();
        $('.for-color').css('height', height + 'px');
        $('.hamburger').click(function () {
            $('.mobile-menu').toggleClass('animate-menu');
            $('.hamburger>div').toggleClass('opened');
        }
        )
        $(document).on('click tap', '.has-drop', function () {
            var $this = $(this)
            var $drop = $this.next('.sub-menu-mobile');
            $drop.toggleClass('show-menu-dropdown')
        })
        $('#LoadingContainer').css('display', 'none');
    });


</script>

</html>