{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% block headerinfo %}
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}
    <!-- Start Top Search -->   
    <!-- what the hell is this page bro: -->

    <!-- End Shop Page -->
    {% i = 0 %}
    {%for x in stories%}
        <div>
            <h1> {% x %} </h1>

            <img src = {% r"../" + x + r"/title.png" %} alt = "TitleImage" > 


            <p> </p> 
        
        </h1> 
            
             

        </div>
        {% i ++ %}
    {%endfor%}

    <!-- Start Instagram Feed  -->
   
    <!-- End Instagram Feed  -->
{% endblock %}