{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% block headerinfo %}
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}
    <!-- Start Top Search -->   
    <!-- what the hell is this page bro: -->

    <!-- End Shop Page -->
    {%for x in stories%}
        <div>
            <h1> </h1>
            <img src = {%"../" + x + "/title.png"%} alt => 


            <p> </p> </h1> 
            
             

        </div>
    {%endfor%}

    <!-- Start Instagram Feed  -->
   
    <!-- End Instagram Feed  -->
{% endblock %}