{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% block headerinfo %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}
<!-- Start Top Search -->
<!-- what the hell is this page bro: -->

<!-- End Shop Page -->

<h1>{{content.0}}</h1>
<h3>{{content.1}}</h3>

<img src={{ "../blogdata/" + content.2 + "/title.png" }} alt="TitleImage">

{% for x in contentMain %}

    {% if x.0 == "p" %} 
            <p>{{x["content"]}}</p>
    
    {% elif x.0 == "*b" %} 
        
    <p><b>{{ x.1 }}</b></p>
    <!-- alan was here -->
    
    {% elif x.0 == "*i" %} 
        
    <p><i>{{x.1}}</i></p>
    
    {% elif x.0 == "*img" %} 

    <img src={{ "../blogdata/" + x.1 + "/title.png" }} alt="TitleImage">
    
    {% else %} 
        <p> {{x.1}} </p>
    {% endif %}

{% endfor %}

<!-- Start Instagram Feed  -->

<!-- End Instagram Feed  -->
{% endblock %}