
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% extends 'base.html' %}
    {% block title %}PetConnect{% endblock %}
    {% block headerinfo %}
        <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
    <!-- Site CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">

    <link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>


    {% endblock %}
    {% block BodyContent %}

    <!-- Start Main Top -->
    
    <!-- End Main Top -->

    <!-- Start Top Search -->
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src="../static/images/banner-01.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20" style="font-family: 'Caveat';"><strong>PetConnect</strong></h1>
                            <p class="m-b-40">Connecting Pets, One Paw at a Time.</p>
                            <p><a class="btn hvr-hover" href="/shop">Shop Now</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="../static/images/banner-02.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"style="font-family: 'Caveat';"><strong>PetConnect</strong></h1>
                            <p class="m-b-40">Connecting Pets, One Paw at a Time.</p>
                            <p><a class="btn hvr-hover" href="/shop">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src="../static/images/banner-03.jpg" alt="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="m-b-20"style="font-family: 'Caveat';"><strong>PetConnect</strong></h1>
                            <p class="m-b-40">Connecting Pets, One Paw at a Time.   </p>
                            <p><a class="btn hvr-hover" href="/shop">Shop New</a></p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="slides-navigation">
            <a href="/" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
            <a href="/" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="white-bar"></div>

    <!-- Start Products  -->
    <div class="parallax">
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-sp text-center">
                        <h1 class="white">Our Product Line</h1>
                        <p class="white">Innovation. Intelligence. Imagination.</p>
                    </div>
                </div>
            </div>
            
            <div class="row special-list">
                    {% for product in range(names|length) %}
                    <div class="inline col-lg-4 col-md-4  special-grid {{ feature[product]}}">
                        <div class="products-single fix">
                            <div class="box-img-hover">
                                <div class="type-lb">
                                    <p class="{{ sale[product].lower() }}">{{ sale[product]}}</p>
                                </div>
                                <img src="../static/images/products/{{pictures[product]}}" class="img-fluid" alt="Image">
                                <div class="mask-icon">
                                    <a class="cart" href="/shop/{{ names[product] }}">Learn More</a>
                                </div>
                            </div>
                            <div class="why-text">
                                <h4>{{ names[product] }}</h4>
                                <h5>{{ cost[product] }}</h5>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
            </div>
        </div>
    </div>
</div>
    <!-- End Products  -->

    <!-- Start Blog  -->
    <div class="latest-blog w3-hide">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Latest Blogs</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                
                    {% for title in range(blog_names|length)  %}
                        <div class="col-md-6 col-lg-4 col-xl-4">
                            <div class="blog-box">
                                <div class="blog-img">
                                    <img class="img-fluid" src="../static/images/{{ blog_pictures[title] }}" alt="" />
                                </div>
                                <div class="blog-content">
                                    <div class="title-blog">
                                        <h3>{{ blog_names[title] }}</h3>
                                        <a class="blog btn hvr-hover" href = "/blog/{{ ids[title]}}">Read More</a>
                                        <p>{{ authors[title] }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                
                
            </div>
        </div>
    </div>
    
    <!-- End Blog  -->


    
    <!-- End Instagram Feed  -->


   

    <!-- <a href="/" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a> -->

    

    {% endblock %}
