{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block headerinfo %}
<link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
<link href="{{ url_for('static', filename='css/people.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}


<!-- Yes, this is a copy of Vihas's template.  -->
<!-- No, I don't give a shit. -->

<body>
    <div class="landing">
        <div class="zoom">
            <h1 data-inviewport="appear-really-fast" class="page-title opacity0"><span class="bluetitle">Our</span><span
                    class="browntitle">Team</span></h1>

        </div> <!-- <h2 class="opacity0">Connecting Hearts, Paws, Innovation!!!!</h2> -->
    </div>



    <!-- AKSHAY -->
    <br>
    <br>

    <div class="zoomWords">
        <h2 class="product-lineup-h2">Management</h2>
    </div>


    <div class="products">


        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                

                <h3 class="product-h3">Vrishank Malik</h3>
                    
                <div class="zoom">
                    <img class = "image" src="../static/images/people/vrishank.png" alt="Akshay Dhawan Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 15vw;">
                </div>

                <p class="description">Chief Operations Officer</p>
                <p class="description">Management</p>
                <p class="description">vmalik25@mhrd.org</p>
            </div>





        </div>
        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                
    
                    <h3 class="product-h3">Akshay Dhawan</h3>




                <div class="
                zoom">
                    <img class="image" src="../static/images/people/akshay.png"
                        alt="Vrishank Malik Image (not loaded)" onerror="this.src='../static/images/Matt.png';"
                        style="width: 15vw">
                </div>

                <p class="description">Chief Executive Officer</p>
                <p class="description">Management Head</p>
                <p class="description">adhawan25@mhrd.org</p>
            </div>





        </div>
        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                
                <h3 class="product-h3">Ruhi Kamdar</h3>

                <div class="zoom">
                    <img class="image" src="../static/images/people/ruhi.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 15vw">
                </div>

                <p class="description">Assistant Vice President</p>
                <p class="description">Management</p>
                <p class="description">rkamdar25@mhrd.org</p>
            </div>
        </div>






    </div>

    <div class="zoomWords">
        <h2 class="product-lineup-h2">Department of Human Resources</h2>
    </div>

    <div class="products">


        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Drew Suskind</h3>




                <div class="zoom">
                    <img class="image" src="../static/images/people/drew.png" alt="Akshay Dhawan Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 12vw">
                </div>

                <p class="description">Vice President of Human Resources</p>
                <p class="description">Human Resources Department Head</p>
                <p class="description">dsuskind25@mhrd.org</p>
            </div>





        </div>

        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Yuvraj Ramani</h3>




                <div class="
                zoom">
                    <img class="image" src="../static/images/people/yuvraj.png" alt="Vrishank Malik Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Director of Company Climate Culture Diversity</p>
                <p class="description">Human Resources Department</p>
                <p class="description">yramani25@mhrd.org</p>
            </div>





        </div>
        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Justin Chen</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/justin.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Manager of Domestic Relations</p>
                <p class="description">Human Resources Department</p>
                <p class="description">jchen25@mhrd.org</p>
            </div>
        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Sanjana Medapati</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/sanjana.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Recruitment Specialist</p>
                <p class="description">Human Resources Department</p>
                <p class="description">smedapati25@mhrd.org</p>
            </div>
        </div>






    </div>

    <div class="zoomWords">
        <h2 class="product-lineup-h2">Finance Department</h2>
    </div>

    <div class="products">


        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Pranav Agarwal</h3>




                <div class="zoom">
                    <img class="image" src="../static/images/people/pranav.png" alt="Akshay Dhawan Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 12vw">
                </div>

                <p class="description">Vice President of Finance and Accounting</p>
                <p class="description">Finance Department Head</p>
                <p class="description">pagarwal25@mhrd.org</p>
            </div>





        </div>

        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Sheil Shah</h3>




                <div class="
                zoom">
                    <img class="image" src="../static/images/people/sheil.png" alt="Vrishank Malik Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Finance Manager</p>
                <p class="description">Finance Department</p>
                <p class="description">sshah25@mhrd.org</p>
            </div>





        </div>
        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Sosi Hoerning</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/sosi.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Accounting Manager</p>
                <p class="description">Finance Department</p>
                <p class="description">shoerning25@mhrd.org</p>
                <!-- Sneaky comments come in sneaky places from sneaky people. -->
            </div>
        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Joshua Estrin</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/joshua.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Financial Accounting Specialist</p>
                <p class="description">Finance Department</p>
                <p class="description">jestrin25@mhrd.org</p>
            </div>
        </div>
    </div>


    <div class="zoomWords">
        <h2 class="product-lineup-h2">Marketing Department</h2>
    </div>

    <div class="products">


        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Ishita Banerjee</h3>




                <div class="zoom">
                    <img class="image" src="../static/images/people/ishita.png" alt="Akshay Dhawan Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 12vw">
                </div>

                <p class="description">Vice President of Marketing</p>
                <p class="description">Marketing Department Head</p>
                <p class="description">ibanerjee@mhrd.org</p>
            </div>





        </div>

        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Carolyn He</h3>




                <div class="
                zoom">
                    <img class="image" src="../static/images/people/carolyn.png" alt="Vrishank Malik Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Marketing Associate</p>
                <p class="description">Marketing Department</p>
                <p class="description">che25@mhrd.org</p>
            </div>





        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Riya Jain</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/riya.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Marketing Associate + Competitions Manager</p>
                <p class="description">Marketing Department</p>
                <p class="description">rjain25@mhrd.org</p>
                <!-- Sneaky comments come in sneaky places from sneaky people. -->
            </div>
        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Navya Vasireddy</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/navya.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Marketing Associate</p>
                <p class="description">Marketing Department</p>
                <p class="description">nvasireddy25@mhrd.org</p>
            </div>
        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Anish Mahapatra</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/anish.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Marketing Associate</p>
                <p class="description">Marketing Department</p>
                <p class="description">amahaptra25@mhrd.org</p>
            </div>
        </div>


        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <div class = "zoomWords"> 
                <h3 class="product-h3">Avsar Doshi</h3>
                </div>
                <div class="zoom">
                    <img class="image" src="../static/images/people/avsar.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Marketing Associate</p>

                
                <p class="description">Marketing Department</p>
                <p class="description">adoshi25@mhrd.org</p>
            </div>
        </div>


    </div>




    <div class="zoomWords">
        <h2 class="product-lineup-h2">IT Department</h2>
    </div>

    <div class="products">


        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Sakshini Ganesh</h3>




                <div class="zoom">
                    <img class="image" src="../static/images/people/sakshini.png" alt="Akshay Dhawan Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 12vw">
                </div>

                <p class="description">Vice President of Technology</p>
                <p class="description">IT Department Head</p>
                <p class="description">sganesh25@mhrd.org</p>
            </div>





        </div>

        <div class="product">


            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Jason Mao</h3>




                <div class="
                zoom">
                    <img class="image" src="../static/images/people/jason.png" alt="Vrishank Malik Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Design Manager</p>
                <p class="description">IT Department</p>
                <p class="description">jmao25@mhrd.org</p>
            </div>





        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Caleb Suh</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/caleb.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Video Production Specialist</p>
                <p class="description">IT Department</p>
                <p class="description">csuh25@mhrd.org</p>
                <!-- Sneaky comments come in sneaky places from sneaky people. -->
            </div>
        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Alan Qu</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/alan.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">IT Specialist</p>
                <p class="description">IT Department</p>
                <p class="description">aqu25@mhrd.org</p>
            </div>
        </div>

        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Vihas Veggalam</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/vihas.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">Web developer</p>
                <p class="description">IT Department</p>
                <p class="description">vveggalam25@mhrd.org</p>
            </div>
        </div>



        <div class="product">
            <div data-inviewport="appear-afterMain" class="picture-description opacity0" style="transition-delay: .2s">
                <h3 class="product-h3">Ruthvik Venkatesan</h3>
                <div class="zoom">
                    <img class="image" src="../static/images/people/ruthvik.png" alt="Ruhi Kamdar Image (not loaded)"
                        onerror="this.src='../static/images/Matt.png';" style="width: 10vw">
                </div>

                <p class="description">IT Associate</p>
                <p class="description">IT Department</p>
                <p class="description">rvenkatesan25@mhrd.org</p>
            </div>
        </div>




    </div>



</body>

{% endblock %}
<script>
    const inViewport = (entries, observer) => {
        entries.forEach(entry => {
            entry.target.classList.toggle("is-inViewport", entry.isIntersecting);
        });
    };

    const Obs = new IntersectionObserver(inViewport);
    const obsOptions = {}; //See: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Intersection_observer_options

    // Attach observer to every [data-inviewport] element:
    document.querySelectorAll('[data-inviewport]').forEach(el => {
        Obs.observe(el, obsOptions);
    });
</script>

<!-- RUTHVIK VENKATESAN - 11- 16 - 23 IST 6:30 PM -->