{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block headerinfo %}
<link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
<link href="{{ url_for('static', filename='css/product.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
<div class="landing">
    <h1 class="opacity0">{{name}}</h1>
    <!-- <h2 class="opacity0">Connecting Hearts, Paws, Innovation!!!!</h2> -->
</div>


<!-- MAIN BODY -->




    

    <div>

        <div class="product">
         
                


        </div>


    </div>

    {% endblock %}