{% extends 'base.html' %}
{% block title %}Home{% endblock %}
{% block headerinfo %}
<link href='https://fonts.googleapis.com/css?family=Caveat' rel='stylesheet'>
<link href="{{ url_for('static', filename='css/products.css') }}" rel="stylesheet">
{% endblock %}
{% block BodyContent %}
<div class="landing">
    <h1 data-inviewport="appear-really-fast"  class="page-title opacity0"><span class = "bluetitle">{{name.split()[0]}}</span><span class = "browntitle">{{name.split()[1]}}</span></h1>
    <!-- <h2 class="opacity0">Connecting Hearts, Paws, Innovation!!!!</h2> -->
</div>
<!-- <div data-inviewport="scale-in" class = "render">
    <p>Put a video here bruh</p>
</div> -->
<div class = "product-lineup opacity0" data-inviewport="appear">
    <h2 class = "product-lineup-h2">Explore The Lineup</h2>
</div>
<div class = "products">
    {% for product in range(products|length) %}
    <div class = "product">
        <a class="overlay" href="{{urls[product]}}"></a>
        <div data-inviewport="appear-after" class ="opacity0 inline" style="transition-delay:{{ loop.index*(1/12) }}s !important;">
            <h3 class = "product-h3">{{products[product]}}</h3>
            <img class="image" src="../static/images/products/{{pictures[product]}}">
                <div class="product-url-flex">
                    <a class="product-url" href="{{urls[product]}}">Buy Now</a>
                </div>
            <p class = "description">{{description[product]}}</p>
        </div>

    </div>
    {% endfor %}
</div>


{% endblock %}
<script>
        const inViewport = (entries, observer) => {
    entries.forEach(entry => {
        entry.target.classList.toggle("is-inViewport", entry.isIntersecting);
    });
    };

    const Obs = new IntersectionObserver(inViewport);
    const obsOptions = {}; //See: https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API#Intersection_observer_options

    // Attach observer to every [data-inviewport] element:
    document.querySelectorAll('[data-inviewport]').forEach(el => {
    Obs.observe(el, obsOptions);
    });
</script>