{% extends 'base.html' %}
{% block title %}Shop{% endblock %}
{% block headerinfo %}
    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}
    <!-- Start Top Search -->   
    <div class="top-search">
        <div class="container">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Search">
                <span class="input-group-addon close-search"><i class="fa fa-times"></i></span>
            </div>
        </div>
    </div>
    <!-- End Top Search -->

    <!-- Start All Title Box -->
    <div class="all-title-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Shop</h2>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">Shop</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End All Title Box -->

    <!-- Start Shop Page  -->
    <div class="shop-box-inner">
        <div class="container">
            <div class="row">
                <div class="col-xl-9 col-lg-9 col-sm-12 col-xs-12 shop-content-right">
                    <div class="right-product-box">
                        <div class="product-item-filter row">
                            <div class="col-12 col-sm-8 text-center text-sm-left">
                               
                            </div>
                            <div class="col-12 col-sm-4 text-center text-sm-right">
                                <ul class="nav nav-tabs ml-auto">
                                    <li>
                                        <a class="nav-link active" href="#grid-view" data-toggle="tab"> <i class="fa fa-th"></i> </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" href="#list-view" data-toggle="tab"> <i class="fa fa-list-ul"></i> </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="product-categorie-box">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane fade show active" id="grid-view">
                                    <div class="product-container row">
                                        {% for product in range(names|length) %}
                                        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <!-- <div class="type-lb">
                                                        <p class="{{ sale[product].lower() }}">{{ sale[product]}}</p>
                                                    </div> -->
                                                    <img src="../static/images/products/{{pictures[product]}}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                 
                                                        <a class="cart" href= "{{ urls[product] }}">Learn More</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>{{ names[product] }}</h4>
                                                    <h5>{{ cost[product] }}</h5>
                                                </div>
                                            </div>

                                        </div>
                                        {% endfor %}
                                     </div>
                                </div>

                                <div role="tabpanel" class="tab-pane fade" id="list-view">
                                    <div class="product-container-vertical list-view-box">
                                        {% for product in range(names|length) %}

                                            <div class="row">
                                                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                    <div class="products-single fix">
                                                        <div class="box-img-hover">
                                                            <div class="type-lb">
                                                                <p class="{{ sale[product].lower() }}">{{ sale[product]}}</p>
                                                            </div>
                                                            <img src="../static/images/products/{{pictures[product]}}" class="img-fluid" alt="Image">
                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                    <div class="why-text full-width">
                                                        <h4>{{ names[product] }}</h4>
                                                        <h5>{{ cost[product] }}</h5>
                                                        <p>{{ descriptions[product]}} </p>
                                                        <a class="btn hvr-hover" href="{{ urls[product] }}">Learn More</a>
                                                    </div>
                                                </div>
                                            </div>

                                        {% endfor %}
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
				<div class="col-xl-3 col-lg-3 col-sm-12 col-xs-12 sidebar-shop-left">
                    <div class="product-categori">
                
                        <div class="filter-sidebar-left">
                            <div class="title-left">
                                <h3>Categories</h3>
                            </div>
                            <div class="list-group list-group-collapse list-group-sm list-group-tree" id="list-group-men" data-children=".sub-men">
                                <a name="all" class="list-group-item list-group-item-action"> All <small class="text-muted"> ({{names|length}}) </small></a>

                                <a name="individual" class="list-group-item list-group-item-action"> Individual Products  <small class="text-muted"> (4) </small></a>
                                <a name="bundle" class="list-group-item list-group-item-action"> Bundles  <small class="text-muted"> (1) </small></a>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).on('click tap', '.list-group-item', function(){
            var $this = $(this)
            var name = $this.attr("name")
            $.ajax({
                url: '/shop',
                type: 'POST',
                data: {
                    type: name,
                },
                success: function (response){
                    $(".product-container").empty()
                    $(".product-container-vertical").empty()
                    var data = response["data"]
                    for (var i in data['product-names']){
                        console.log(i)
                        let name = data['product-names'][i]
                        let desc = data['product-descriptions'][i]
                        let picture = data['product-pictures'][i]
                        let url = data['product-urls'][i]
                        let sale = data['sale'][i]
                        let feature = data['feature'][i]
                        let cost = data['cost'][i]
                        $(".product-container").append(`<div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                            <div class="products-single fix">
                                                <div class="box-img-hover">
                                                    <div class="type-lb">
                                                        <p class="${sale.toLowerCase()}">${sale}</p>
                                                    </div>
                                                    <img src="../static/images/products/${picture}" class="img-fluid" alt="Image">
                                                    <div class="mask-icon">
                                                 
                                                        <a class="cart" href= "${url}">Learn More</a>
                                                    </div>
                                                </div>
                                                <div class="why-text">
                                                    <h4>${name}</h4>
                                                    <h5>${cost}</h5>
                                                </div>
                                            </div>
                                        </div>`)
                        $(".product-container-vertical").append(
                            `<div class="row">
                                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
                                                <div class="products-single fix">
                                                    <div class="box-img-hover">
                                                        <div class="type-lb">
                                                            <p class="${sale.toLowerCase()}">${sale}</p>
                                                        </div>
                                                        <img src="../static/images/products/${picture}" class="img-fluid" alt="Image">
                                                    
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 col-md-6 col-lg-8 col-xl-8">
                                                <div class="why-text full-width"><h4>${name}</h4><h5>${cost}</h5><p>${desc} </p><a class="btn hvr-hover" href="${url}">Learn More</a></div></div></div>`)
                    }
                },
                error: function(error){
                    console.log(error);
                    console.log("error");
                }
            });
        })
    </script>
    <!-- End Shop Page -->

    <!-- Start Instagram Feed  -->
   
    <!-- End Instagram Feed  -->
{% endblock %}