{% extends 'base.html' %}
{% block title %}VideoGame{% endblock %}
{% block headerinfo %}
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css')}}">
<!-- Site CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
<!-- Responsive CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/responsive.css' )}}">
<!-- Custom CSS -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css')}}">{% endblock %}
{% block BodyContent %}


<script src="../static/js/videogameMain.js" type="module"></script>

<!-- Start Top Search -->
<div class="videogameMainBox">



    <body>
        <canvas id="glcanvas" width="640" height="480" class = "centered"></canvas>
    </body>


</div>

{% endblock %}